body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
    margin: 0;
}

div {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.title{
    display: inline-block;
    font-size: 50px;
    text-align: center;
    color: navy;
    border-color: black;
    border: 5px solid #000000;
    padding: 30px;
}

.descriptioncontainer {
    width: 45%;
    margin: 0 auto;
}

.subtitle {
    font-size: 30px;
    color: navy;
}

.subheader {
    font-size: 20px;
    color: darkblue;
}

.item {
    font-size: 16px;
    line-height: 1.5;
    list-style-position: inside;
    padding-right: 5%;
}

.option {
    color: black;
    font-size: 22px;
    line-height: 2;
    list-style-position: inside;
}

a:link {
    color: black;
}

a:visited {
    color: darkkhaki;
}

a:hover {
    color: white;    
}

a:active {
    color: navy;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.ingredients,
.directions {
    width: 45%;
    margin: 0 auto;
}

.directions ol{
    display: block;
}
